.floatLeft{float: left;}
.searchTxt55Cls{float: left; width: 55%;}
.searchBtn15Cls{float: left; width: 15%;margin-left: 1%;}
.searchBtn25Cls{float: left; width: 25%;margin-left: 1%;}
.searchArea{width: 100%;}

.popupArea{position: absolute; width: 100%; background-color: rgba(0, 0, 0, 0.7);top:0;left:0;right:0;bottom:0;}
.popupBody{width: 50%; margin: auto; margin-top: 10%;background-color: white;padding: 20px;}
.popupTitle{text-align: center;}
.popupContent{text-align: center;padding: 10px;}
button{margin-left: 10px !important;}
.bgColorWhite{background-color: white !important;}

.imgDiv{float: left;margin: 5px;border: solid 1px white;}
.imgDiv:hover{cursor: pointer;border: solid 1px rgb(146, 146, 146);}
.imgDiv a{color: black;}
.imgDiv a:hover{color: black;}
.imgBox{height: 150px !important;margin: 5px;}

.tagCls{padding:5px;background-color:dimgray;color:white;margin: 5px;}
.clearBoth{clear: both;}