.masonry-with-columns{
  columns: 6 200px;
  column-gap: 1rem;
}
.masonry-with-columns > div{
  width: 150px;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
}

.masonry-with-rows{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}
.masonry-with-rows > div{
  flex: 1 0 auto;
  height: 230px;
}
.masonry-with-rows > div:nth-last-child(-n+3){
  max-width: 400px;
}

@media (max-width:1024px){
  .masonry-with-rows > div{
    height: 200px;
  }
  .masonry-with-rows > div:nth-last-child(-n+3){
    max-width: 335px;
  }
}
@media (max-width:991px){
  .masonry-with-rows > div{
    height: 180px;
  }
  .masonry-with-rows > div:nth-last-child(-n+3){
    max-width: 355px;
  }
}
@media (max-width:575px){
  .masonry-with-rows > div{
    height: 160px;
  }
  .masonry-with-rows > div:nth-last-child(-n+3){
    max-width: initial;
  }
}

#eachPhotoCard > #photoSelect {
  /* change div to reference your elements you put in <Masonry> */
  visibility: hidden;
  position: absolute;
}

#eachPhotoCard:hover > #photoSelect {
  /* position: absolute; */
  visibility: visible;
  /* display: none; */
}

#eachPhotoCard > .checkVisible {
  visibility: visible !important;
}
